@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cinzel:wght@400;500;600;800;900&family=Croissant+One&family=Heebo:wght@300;600&family=Josefin+Sans:ital,wght@1,400;1,500&family=Kdam+Thmor+Pro&family=Mulish:ital,wght@1,300&family=Orbitron&family=PT+Sans&family=Source+Code+Pro&family=Ubuntu:ital,wght@0,300;1,300&family=Varela+Round&family=Young+Serif&display=swap');
body {
  margin: 0;
  font-family: 'Kdam Thmor Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://images.pexels.com/photos/5839474/pexels-photo-5839474.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load');
  height: 100% auto;
  background-size: cover;
  background-position-x: center;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i {
  cursor: pointer;
}

.about-head {
  text-align: center;
  color: black;
}

.back {
  align-items: center;
  text-align: center;
  width: 30vw;
  height: auto;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 40px;
  border: 1px solid black;
  padding: 10px;
}
.signback{
  background-image: url('https://images.pexels.com/photos/3944400/pexels-photo-3944400.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  height: 100% auto;
  background-size: cover;
  background-position-x: center;
}
.logback{
  background-image: url('https://images.pexels.com/photos/3802075/pexels-photo-3802075.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  height: 100% auto;
  background-size: cover;
  background-position-x: center;
  box-shadow: 20px 20px 50px 20px rgb(236, 231, 231);
}
.foot{
  background-image: url('https://images.pexels.com/photos/7953425/pexels-photo-7953425.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  height: 100% auto;
  background-size: cover;
  background-position-x: center;
  box-shadow: 20px 20px 50px 20px rgb(236, 231, 231);
  font-family: 'Kdam Thmor Pro', sans-serif;
  padding: 30px ;
}
.mainfoot{
display: flex;
flex-direction: column;
justify-content: space-evenly;
margin-left: 22px;
}
.fot{
  display: flex;
 justify-content: center;
padding: 12px;
}
.alert{
  position: fixed;
  top: 52px;
  right: 12px;
  z-index: 1;
}